.btn{
    font-size: 17px;
    text-align: center;
    color: white;
    background-color: var(--btn-main);
    width: 55%;
    margin: 10px 0;
    padding: 16px 0;
    border: none;
    border-radius: 5px;
}
.google_btn{
    background-color: var(--google-btn);
}
.btn.google_btn:hover{
    cursor: pointer;
    background-color: var(--google-btn-hover);
}
.btn:hover{
    cursor: pointer;
    background-color: var(--btn-main-hover);
}