.ticket-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  margin: 35px auto;
  padding: 20px 10px 10px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-family: var(--contact-font);
}
.ticket-heading {
  color: var(--btn-main);
}
.ticket-input-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 90%;
  gap: 2px;
  margin: 0 auto;
  padding: 5px 0;
}
.ticket-input-div label {
    font-weight: 900;
    margin: 0 3px;
    font-size: 15px;
    letter-spacing: 1px;
}
.ticket-input {
  width: 100%;
  padding: 5px 10px;
  height: 35px;
  font-size: 15px;
  border: none;
  font-weight: 100;
  outline: none;
  background-color: #707070;
  color: rgb(239, 239, 239);
  border-radius: 2px;
}
.ticket-btn {
  padding: 10px 20px;
}
